@charset "UTF-8";
/* CSS Document 
//Author Name: Saptarang
//Author URI: http://www.saptarang.org
//Themeforest: http://themeforest.net/user/saptarang?ref=saptarang
//Creation Date: 18th January, 2014
//Description: A default stylesheet for Missing - Responsive 404 Page Template Designed & Developed By Saptarang.
*/

html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.714em;
	color: #9ea7b3;
	-webkit-font-smoothing: subpixel-antialiased;
}
body {
	padding:2em 0;
	opacity:0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 5em;
	font-weight: 600;
	margin:0.3em 0;
}
h1 a {
	font-size:1em;
}
h2 {
	font-size: 1.714em;
	font-weight: 500;
}
h2 a {
	font-size:1em;
}
h3 {
	font-size: 1.5em;
}
h3 a {
	font-size:1em;
}
h4 {
	font-size: 1.429em;
	color:#7c8795;
	text-transform:uppercase;
}
h4 a {
	font-size:1em;
}
h5 {
	font-size: 1.2em;
	font-weight: 500;
	color:#323a45;
}
h5 a {
	font-size:1em;
}
h6 {
	font-size: 0.9em;
	font-weight: 500;
	color:#323a45;
}
h6 a {
	font-size:1em;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #000;
}
:focus, :active {
	outline: none!important;
}
p {
	margin: 1em 0 2em;
	font-size:1.1em;
	line-height:1.5em;
}
input[type=text], input[type=email], input[type=tel], textarea, input[type=number] {
	padding: 0.5em 1em;
	border: rgba(0,0,0,0.15) 1px solid!important;
	-webkit-box-shadow: inset 0 2px 3px 0 #ececec;
	margin-bottom: 1.5em;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus, input[type=number]:focus {
	-webkit-box-shadow:0 0 5px 0 #2c94ff;
	box-shadow:0 0 5px 0 #2c94ff;
}
.svg {margin:0 auto !important; display:block; text-align:center; }
/* ================= GENERAL=================*/
.container {
	max-width:900px;
}
.no-border {
	border: none!important;
}
.no-padding {
	padding: 0!important;
}
.bottom-margin {
	margin-bottom: 2em;
}
.no-margin {
	margin-bottom: 0!important;
}
img.pull-right {
	margin: 0px 0px 1.5em 1.5em;
	border-radius: 0!important;
}
img.pull-left {
	margin: 0px 1.5em 1.5em 0px;
	border-radius: 0!important;
}
i {
	margin-right: 0.3em;
}
.btn {
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0;
	color: #fff!important;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2);
	padding: 0.8em 1.5em;
	background: #3d3d3d;
}
.btn:hover {
	background: #3d3d3d;
}
.btn-lg {
	padding: 0.8em 1em;
}
blockquote {
	font-size: 1.1em;
}
ul.list-default {
	list-style-type: none;
}
ul.list-default li {
	padding: 0.8em 0 0.8em 2.5em;
	position: relative;
}
ul.list-default li:before {
	content: '\f054';
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	font-size: 0.8em;
	top: 1.3em;
}
input, button, select, textarea {
	border-radius: 0!important;
}
.text-muted {
	color: #b2b2b2;
	margin: 0
}
/* ================== LAYOUT SPECIFIC =================*/
#wrapper {
	background:#fff;
	padding:1.5em;
	-webkit-box-shadow:0 0 25px 0 #d5d9e0;
	box-shadow:0 0 25px 0 #d5d9e0;
	border:1px solid #d0d7df;
	margin-bottom:1em;
}
#wrapper article h1, #wrapper article h4 {
	text-align:center;
}
#wrapper  h3 {
	color:#9ea7b3;
	font-size:1.5em;
	margin:0;
}
h3 a {
	line-height:1.3em;
}
#wrapper ul.list-inline {
	margin:0.3em 0 0 !important;
}
#wrapper ul.list-inline li a i {
	font-size:1.2em;
	margin-right:0.2em;
}
#wrapper ul.list-inline li a {
	font-size:1.2em;
}
#wrapper ul.list-inline li.last a i {
	margin-right:0;
}
article {
	text-align:center;
	padding:0;
}
#s, #s .form-group {margin:0;}
#s .submit-button {display:block; position: absolute; right: -30px; top: 0em;}
#s .submit-button img {position:absolute; bottom:-8px; right:0;}
input[type=submit] {display:block; font-family:FontAwesome; color:#fff; padding: 0.59em 1.5em; line-height:0!important; height:2.45em; }
footer {
	overflow:hidden;
}

/* Transitions */
a, ul.list-inline li a {-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

@media screen and (max-width : 768px) {
		body {padding:2em 0;}
		.svg {width:70%!important; }
		.column {border-bottom:#ececec 1px solid; margin-bottom:1em; padding-bottom:1em; text-align:center;}
		.submit-button img {display:none;}
		#s input[type=text] {padding:0.5em 5em 0.5em 1em!important; box-sizing:border-box;}
		.submit-button {right:15px!important;}
}
@media screen and (max-width : 480px) {
	h1 {
		font-size:3.5em;
	}
}

/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/-1odZCVpKpOs9pNLq607fhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/fSUtikcZd7PHZK0t2hzTeRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2ltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 400;
	src: local('Muli Italic'), local('Muli-Italic'), url(http://fonts.gstatic.com/s/muli/v7/RGzT9VzvdKojoeSA3nPC6Q.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 400;
	src: local('Muli Italic'), local('Muli-Italic'), url(http://fonts.gstatic.com/s/muli/v7/RGzT9VzvdKojoeSA3nPC6Q.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/-1odZCVpKpOs9pNLq607fhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/fSUtikcZd7PHZK0t2hzTeRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2ltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
